# Backend Connection API URL
VITE_BACKEND_URL=http://localhost:5000

# Cloudinary Assets Upload Configuration
VITE_UPLOAD_PRESET=your_cloudinary_upload_preset
VITE_CLOUD_NAME=your_cloudinary_cloud_name
